fastapi
uvicorn
requests
pdfplumber
python-dotenv
langchain
langchain-google-genai
langchain-community
pydantic
https://github.com/facebookresearch/faiss/releases/download/v1.7.2/faiss_cpu-1.7.2-cp310-cp310-manylinux2014_x86_64.whl
